<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="Selenium">
    <classes>
      <class name="study_day1.TestNGDemo2">
        <methods>
<!--          <include name="login176"/>-->
        </methods>
      </class> <!-- syudy_day3.page_object -->
    </classes>
  </test> <!-- Selenium -->
</suite> <!-- Default Suite -->
